GOOGLE_SHEET_ID=1HPyd0LnqI7c1eKKY4gGQcQ__ct0hnVZxkUaOeEYAJKY
GOOGLE_SHEET_GID=1379799510
GOOGLE_SERVICE_ACCOUNT_JSON=credentials/service_account.json

SCRAPE_END_DATE=2026-12-31

HEADLESS=true
BROWSER_TIMEOUT_MS=45000

OPENROUTER_API=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
